<head>
  <title>Leaderboard</title>
</head>

<body>
  <div class="container">
    {{> header}}
    <div class="row-fluid">
  <div class="span8">
  {{> leaderboard}}
  </div>
  <div class="span4">
  {{> champion}}
  </div>
</div>
  </div>
</body>

<template name="leaderboard">
  <div class="leaderboard">
    {{#each players}}
      {{> player}}
    {{/each}}
  </div>

  {{#if selected_name}}
  <div class="details">
    <div class="name">{{selected_name}}</div>
    <br>
    <input type="button" class="inc" value="Give 5 points" />
  </div>
  {{/if}}
  
  {{#unless selected_name}}
  <div class="none">Click a player to select</div>
  {{/unless}}
</template>

<template name="player">
  <div class="player {{selected}}">
    <span class="name">{{name}}</span>
    <span class="score">{{score}}</span>
  </div>
</template>

<template name="champion">
    {{#each winners}}
      {{> winner}}
    {{/each}}
</template>
  
<template name="winner">
	<img src="gold.jpg" alt="winner">
</template>




